button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

a{
  text-decoration: none;
}

li{
  list-style:none;
}

.fa{
  font-size: 30px;
  font-weight: 200;
  margin-top: 5px;
}

.bi{
  font-size:20px;
  padding:10px;
  color:white;
}

.si{
  color:blue;
}

body{
  background-color: rgb(239, 237, 237);
}

.reserve{
  background-color: rgb(52, 146, 246);
}

.table{
  background-color: rgb(18, 94, 175);
  margin: 50px 0 50px;
}

.return_btn{
  display:block;
  font-size: 24px;
  margin: 3px 15px 0 0;
  color:black;
}

.card-body{
  padding:50px;
}

.card-text{
  font-size: 18px;
  margin: 30px 0 50px;
}

.menu-bar{
  display: block;
  font-size:40px;
  color:blue;
  margin-right:30px;
}

.header-title{
  font-weight: bolder;
  color: blue;
  margin-top:12px;
}

.logout{
  border:none;
  background-color: none;
}

.nav-link{
  color: blue;
  font-size:24px;
}
.star{
  font-size: 14px;
}